@import '../../../styles/common';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

button {
  color: $cl-white-80;
}

.legendtop {
  @include font-small;

  background-color: $cl-base-10;
}

.legendtop td {
  padding-right: 10px;
  padding-left: 10px;
}

@mixin circle($size: 50px, $background-color: null) {
  @if type-of($background-color) == 'color' {
    background-color: $background-color;
  }

  width: $size;
  height: $size;
  border-radius: round($size/2);
}

.special {
  @include circle(11px);

  display: inline-block;
  margin-right: 4px;
  margin-bottom: -2px;
  background-color: $cl-graph-4;
}

.simple {
  @include circle(11px);

  display: inline-block;
  margin-right: 4px;
  margin-bottom: -2px;
  background-color: $cl-graph-3;
}

.notanswered {
  @include circle(11px);

  display: inline-block;
  margin-right: 4px;
  margin-bottom: -2px;
  background-color: $cl-lighter;
  opacity: 0.1;
}
