<app-toolbar>
  <div start>
    <button [routerLink]="['/']" md-icon-button>
      <i class="material-icons">arrow_back</i>
    </button>
    <div class="label">Study {{studyId}}</div>
  </div>
  <div end>
    <button md-icon-button><i class="material-icons">more_vert</i></button>
  </div>
</app-toolbar>
<div class="content">
  <p *ngIf="(isLoaded$ | async) === false">Loading...</p>

  <div *ngIf="(isStudyLoadedAndValid$ | async) === false; else loadedAndValid">
    <p>Study "{{studyId}}" not found.</p>
    <p>
      <button [routerLink]="['/']">Go to the overview page</button>
    </p>
  </div>

  <ng-template #loadedAndValid>
    <md-grid-list cols="6" rowHeight="fit">
      <md-grid-tile colspan="6" rowspan="2">
        <app-tile label="Patients">
          <div tile-content>
            <app-subject-table
              [subjects]="subjects$ | async"
              [studyId]="studyId"
            ></app-subject-table>
          </div>
        </app-tile>
      </md-grid-tile>
      <md-grid-tile colspan="6" rowspan="2">
        <app-tile label="Compliance">
          <div tile-content>
            <div class="legend">
              <p>
                <span class="simple"></span>Simple
                <span class="special"></span>Special
                <span class="notanswered"></span>Not Answered
              </p>
            </div>
            <div class="chart">
              <app-compliance-plot
                [data]="complianceData$ | async"
                [isComplianceLoaded]="isComplianceLoaded$ | async"
              ></app-compliance-plot>
            </div>
          </div>
        </app-tile>
      </md-grid-tile>
    </md-grid-list>
  </ng-template>
</div>
