@import '../../../styles/common';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
  padding: 16px;
}

.mat-grid-list {
  width: 100%;
}
