<div *ngFor="let source of sources">
  <div class="source" [class.empty]="source.sourceData === null"
    title="{{ source.sourceTypeModel }} | {{ source.sourceName }}"
  >
    {{ source.sourceTypeModel }} | {{ source.sourceName }}
  </div>
  <ng-container *ngIf="source.sourceData">
    <div class="sourceData"
      *ngFor="let sourceData of source.sourceData"
      [class.inactive]="!sourceData?.visible"
      (click)="toggleSourceData(sourceData.uid, source.sourceId)"
    >
      <i class="icon material-icons icon-eye">remove_red_eye</i>
      {{ sourceData.sourceDataType }}
    </div>
  </ng-container>
  <ng-container *ngIf="source.sourceData === null">
    <div class="sourceData empty">No SourceData</div>
  </ng-container>
</div>
