<div *ngFor="let source of sources">
  <div class="source"
    title="{{ source.sourceName }} | {{ source.sourceTypeModel }}"
  >
    {{ source.sourceName }} | {{ source.sourceTypeModel }}
  </div>
  <div class="sourceData"
    *ngFor="let sourceData of source.sourceData"
    [class.inactive]="!sourceData?.visible"
    (click)="toggleSourceData(sourceData.uid, source.sourceId)"
  >
    <i class="icon material-icons icon-eye">remove_red_eye</i>
    {{ sourceData.sourceDataType }}
  </div>
</div>
