<app-toolbar>
  <div start>
    <img
      class="logo"
      src="assets/radar-logo.svg"
      alt="RADAR-base Logo"
    >
    <div class="label">
      <div class="font-body-light">RADAR-Base Dashboard</div>
      <div class="font-title">Mental Health</div>
    </div>
  </div>
</app-toolbar>

<app-tile
  label="Studies Summary"
  class="tile-studies"
>
  <div tile-content>
    <div
      class="container"
      *ngIf="studiesIsLoaded$ | async"
    >
      <div class="grid-wrapper">
        <div class="grid">
          <div
            class="study-card"
            *ngFor="let study of studies$ | async"
            (click)="openStudy(study.projectName)"
          >
            <h3 class="title">
              {{ study.humanReadableProjectName ? study.humanReadableProjectName : study.projectName }}
            </h3>

            <h4 class="subtitle">
              <span>{{ study.id }}</span>
              <span *ngIf="study.location">
                |
                <i class="material-icons small">place</i>
                {{ study.location }}
              </span>
              <span *ngIf="study.organization">
                |
                <i class="material-icons small">group</i>
                {{ study.organization }}
              </span>
              <span *ngIf="study.projectStatus">
                |
                <i class="material-icons small">help_outline</i>
                {{ study.projectStatus }}
              </span>
            </h4>
            <div class="description">{{ study.description }}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</app-tile>
