@import '../../../styles/common';
@import '../charts.common';

:host::ng-deep {
  .text {
    font-size: 10px;
    fill: $cl-white-80;
  }

  .legends {
    height: 20%;
    fill: $cl-base-20;
  }

  .legend {
    margin: 10px;
  }
}
