<div *ngFor="let source of sources">
  <div
    class="source"
    title="{{ source.id }} | {{ source.type }}"
    (click)="toggleSource(source.id)"
  >
    <i
      class="icon material-icons icon-arrow"
      [class.toggleOn]="isSourceOn(source.id)"
    >
      play_arrow
    </i>
    {{ source.id }} | {{ source.type }}
  </div>
  <div *ngIf="isSourceOn(source.id)">
    <div
      *ngFor="let sensor of source.sensors"
      class="sensor"
      [class.inactive]="!sensor.visible"
      (click)="toggleSensor(sensor.id)"
    >
      <i class="icon material-icons icon-eye">remove_red_eye</i>
      {{ sensor.label[language] }}
    </div>
  </div>
</div>
