{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-colon-newline-after": "always-multi-line",
    "string-quotes": "single",
    "number-leading-zero": "never",
    "declaration-empty-line-before": null,
    "selector-type-no-unknown": null
  }
}
