@import '../../../styles/common';

:host {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  padding: 8px;
}

app-dashboard-item {
  box-sizing: border-box;
  width: 40%;

  @include mq(mobile, tablet) {
    width: 100%;
  }
}
