@import '../../../styles/common';

:host {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  padding: 8px;
}

md-grid-list {
  width: 100%;
  height: 100%;
}

app-dashboard-tile {
  box-sizing: border-box;
  width: 100%;

  @include mq(mobile, tablet) {
    width: 100%;
  }
}
