@import '../../../../../styles/common';

:host {
  @include font-small;

  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: $size-graph-side-label;
  font-size: 9px;
}

:host::ng-deep {
  .chart .axis text {
    fill: $cl-white-60;
  }
}

.background {
  position: absolute;
  top: 8px;
  right: 28px;
  bottom: 32px;
  left: 15px;
  z-index: 0;
  width: 75px;
  border-radius: 4px;
  background-color: $cl-base-40;
}

.chart {
  z-index: 1;
}

.text {
  padding: 6px;
  text-align: center;
}

hr {
  margin: 3px;
  border: 0.4px solid $cl-white-20;
}

mat-datepicker-toggle {
  width: 5px;
}

mat-form-field {
  margin-top: -1em;
  margin-bottom: -1.25em;
  padding-top: 0;
  padding-left: 5px;
  width: 65px;
}

::ng-deep .mat-form-field-underline {
  display: none;
  opacity: 0;
}
