@import '../../../../styles/common';
@import '../charts.common';

:host /deep/ {
  .backbar {
    opacity: 0.1;
    fill: $cl-lighter;
  }

  .special {
    fill: $cl-graph-4;
  }

  .simple {
    fill: $cl-graph-3;
  }
}
