@import '../../../../styles/common';
@import '../charts.common';

:host /deep/ {
  display: flex;
  flex: 1 1 inherit;
  flex-direction: row;
  height: inherit;

  .backbar {
    opacity: 0.1;
    fill: $cl-lighter;
  }

  .special {
    fill: $cl-graph-4;
  }

  .simple {
    fill: $cl-graph-3;
  }

  .null-symbol {
    color: #fff;
    opacity: 0.4;
  }
}
