@import '../../../../styles/common';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-left: $size-graph-side-label;
  width: 100%;
}

app-chart-base-area {
  flex: 1;
  margin-right: 24px;
}
