@import '../../../../styles/common';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: $size-graph-side-label;
  width: 100%;
  height: 100%;
  background-color: $cl-base-40;
}
