@import '../../../styles/common';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:host {
  display: block;
  width: 100%;
  height: 100%;

  .toggleOn {
    transform: rotate(90deg);
  }

  .inactive {
    opacity: 0.3;
  }

  .icon {
    font-size: 14px;
  }
}
