@import 'mq-values';

// COLORS
$cl-base: #0b4a59;
$cl-light: #6d9aa5;
$cl-lighter: #9bb5bc;

// Transparent Base
$cl-base-10: rgba(#0b4a59, 0.1);
$cl-base-20: rgba(#0b4a59, 0.2);
$cl-base-40: rgba(#0b4a59, 0.4);
$cl-base-60: rgba(#0b4a59, 0.6);
$cl-base-80: rgba(#0b4a59, 0.8);
$cl-base-90: rgba(#0b4a59, 0.9);

// Font
$cl-font: white;
$cl-font-light: rgba(white, 0.8);

// Transparent whites
$cl-white-10: rgba(white, 0.1);
$cl-white-20: rgba(white, 0.2);
$cl-white-40: rgba(white, 0.4);
$cl-white-60: rgba(white, 0.6);
$cl-white-80: rgba(white, 0.8);

// Graph Colors
// NOTE: Keep in sync with AppConfig!!
$cl-graph-1: #ffc;
$cl-graph-2: #c7e9b4;
$cl-graph-3: #7fcdbb;
$cl-graph-4: #41b6c4;
$cl-graph-5: #225ea8;
$cl-graph-6: #0c2c84;
$cl-graph-hover: #fcaf0a;

// Sizes
$size-graph-side-label: 44px;

// MIXINS
@mixin font() {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-body() {
  @include font;

  color: $cl-font;
  font-size: 14px;
}

@mixin font-body-strong() {
  @include font-body;

  font-weight: bold;
}

@mixin font-body-light() {
  @include font;

  color: $cl-font-light;
  font-size: 14px;
}

@mixin font-small() {
  @include font;

  color: $cl-font-light;
  font-size: 12px;
}

@mixin font-large() {
  @include font;

  color: $cl-font;
  font-size: 18px;
}

@mixin font-title() {
  @include font;

  color: $cl-font;
  font-size: 20px;
}
