@import '../../node_modules/@angular/material/theming';

@include mat-core();

// Theme
$cl-app-primary: mat-palette($mat-teal, A700, 200, 900);
$cl-app-accent: mat-palette($mat-cyan, A700, 200, 900);
$cl-app-warn: mat-palette($mat-yellow, A700, 200, 900);
$cl-app-theme: mat-dark-theme($cl-app-primary, $cl-app-accent, $cl-app-warn);

// add Theme
@include angular-material-theme($cl-app-theme);

// Light theme
$cl-app-light-primary: mat-palette($mat-teal);
$cl-app-light-accent: mat-palette($mat-cyan);
$cl-app-light-warn: mat-palette($mat-red);
$cl-app-light-theme: mat-light-theme(
  $cl-app-light-primary,
  $cl-app-light-accent,
  $cl-app-light-warn
);

.light-theme {
  @include angular-material-theme($cl-app-light-theme);
}

$custom-family: '"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI","Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: $custom-family,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
