// COLORS
$cl-base: #0b4a59;
$cl-base-light: rgba(#0b4a59, .4);
$cl-base-lighter: rgba(#0b4a59, .2);
$cl-font: white;
$cl-font-light: rgba(white, .8);
$cl-light: #6d9aa5;
$cl-lighter: #9bb5bc;

// Graph Colors
$cl-graph-1: #ffc;
$cl-graph-2: #c7e9b4;
$cl-graph-3: #7fcdbb;
$cl-graph-4: #41b6c4;
$cl-graph-5: #225ea8;
$cl-graph-6: #0c2c84;

// MIXINS
@mixin font() {
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-body() {
  @include font;

  font-size: 14px;

  color: $cl-font;
}

@mixin font-body-strong() {
  @include font-body;

  font-weight: bold;
}

@mixin font-body-light() {
  @include font;

  font-size: 14px;

  color: $cl-font-light;
}

@mixin font-small() {
  @include font;

  font-size: 12px;

  color: $cl-font-light;
}

@mixin font-large() {
  @include font;

  font-size: 18px;

  color: $cl-font;
}

@mixin font-title() {
  @include font;

  font-size: 20px;

  color: $cl-font;
}
