@import 'common';
@import 'theme';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @include font;

  margin: 0;
  background-image: linear-gradient(-180deg, #467487 20%, #6b9db3 100%);
  font-size: 100%;
  line-height: 1.25em;
}

p {
  @include font-large;

  margin: 16px;
}

.font-title {
  @include font-title;
}

.font-body {
  @include font-body;
}

.font-body-strong {
  @include font-body-strong;
}

.font-body-light {
  @include font-body-light;
}

.font-large {
  @include font-large;
}

.font-small {
  @include font-small;
}
