@import 'common';
@import 'theme';

// Main
*::-webkit-scrollbar-track {
  border: none;
  background-color: $cl-white-20;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $cl-white-20;
}

p {
  @include font-large;
}

// Fonts
.font-title {
  @include font-title;
}

.font-body {
  @include font-body;
}

.font-body-strong {
  @include font-body-strong;
}

.font-body-light {
  @include font-body-light;
}

.font-large {
  @include font-large;
}

.font-small {
  @include font-small;
}
