@import 'common';
@import 'theme';

// Main
html,
body {
  width: 100%;
  height: 100%;
}

body {
  @include font;

  margin: 0;
  background-image: linear-gradient(-180deg, #467487 20%, #6b9db3 100%);
  font-size: 100%;
  line-height: 1.25em;
}

p {
  @include font-large;

  margin: 16px;
}

// MD2 Select
md-select {
  padding: 0 8px;
  border-radius: 4px;
  background: rgba(white, 0.05);

  &:focus .md-select-trigger,
  &:focus:not(.md-select-disabled) .md-select-trigger,
  .md-select-trigger {
    border: none;
  }

  .md-select-trigger {
    height: 24px;
  }

  .md-select-value {
    top: initial;
    color: $cl-white-80;
  }
}

.md-select-content {
  background: $cl-lighter;
}

// MD2 Checkbox
.md-checkbox-inner-container {
  opacity: 0.6;
}

// Fonts
.font-title {
  @include font-title;
}

.font-body {
  @include font-body;
}

.font-body-strong {
  @include font-body-strong;
}

.font-body-light {
  @include font-body-light;
}

.font-large {
  @include font-large;
}

.font-small {
  @include font-small;
}
