@import '../../../styles/common';

:host {
  display: flex;
  flex: 1 0 auto;
}

:host /deep/ {
  .axis text {
    @include font-small;

    fill: $cl-white-80;
  }

  .axis line,
  .axis path {
    shape-rendering: crispEdges;
  }

  .axis--x path,
  .axis--x line {
    stroke: $cl-white-80;
  }

  .axis--x line {
    stroke-width: 1px;
  }

  .axis--y line {
    stroke: $cl-white-20;
    stroke-dasharray: 4, 2;
  }

  .axis--y path {
    stroke: none;
  }

  .tooltip-mouse-box {
    opacity: 0;
  }

  .d3-line-chunked-defined,
  .d3-line-chunked-undefined {
    fill: none;
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;
    stroke-linejoin: round;
  }
}
