<app-tooltip
  #tooltip
  [data]="tooltipData$ | async"
  [style.transform]="'translate('+ tooltipX +'px, '+ tooltipY +'px)'"
  [style.opacity]="tooltipShow"
></app-tooltip>

<div class="graphs">
  <div
    class="source"
    *ngFor="let source of sources; trackBy: trackBySourceId"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave($event)"
  >
    <div class="source-title">
      {{ source.sourceTypeModel }} | {{ source.sourceName }}
    </div>

    <div class="sensors">
      <div
        class="sensor"
        *ngFor="let sourceData of source.sourceData; trackBy: trackBySourceDataUid"
      >
        <app-source-graph
          *ngIf="sourceData?.visible"
          [sourceData]="sourceData"
          [sensorData]="sensorsData[sourceData.uid]?.data"
          [isLoaded]="isDataLoaded[sourceData.uid]"
          [sensorId]="sourceData.uid"
        ></app-source-graph>
      </div>
    </div>
    <div
      class="line"
      [style.transform]="'translateX('+ lineX +'px)'"
      [style.opacity]="tooltipShow"
    ></div>
  </div>
</div>

<!-- <div class="bottom-group">
  <app-source-date-axis
    class="common-axis"
    [dates]="dates"
  ></app-source-date-axis> -->

  <!--TODO: add data when API is ready-->
  <!-- <app-source-volume
    class="volume"
  ></app-source-volume> -->
<!-- </div> -->
