@import '../../../../styles/common';

:host /deep/ {
  svg {
    display: block;
    margin: 3px 0 3px 2px;
    max-height: 100%;
    width: 100%;
  }

  .backbar {
    opacity: 0.1;
    fill: $cl-lighter;
  }

  .special {
    fill: $cl-graph-4;
  }

  .simple {
    fill: $cl-graph-3;
  }
}
