@import '../../../styles/common';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

// Common styles for all charts
:host /deep/ .app-chart {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  height: 100%;

  .header {
    @include font-small;

    display: flex;
    align-items: center;
    min-height: 40px;
    background-color: $cl-base-40;

    .item {
      display: flex;
      align-items: center;
      margin: 0 16px;
    }

    .title {
      flex: 1 0 auto;
      margin: 0 16px;
    }

    .divider {
      width: 1px;
      height: 24px;
      background-color: $cl-white-20;
    }
  }

  .mat-checkbox-checked .mat-checkbox-background {
    background-color: white;
  }

  .container {
    display: flex;
    flex: 1 0 auto;
    background-color: $cl-base-20;
  }

  svg {
    flex: 1 0 auto;
  }

  .axis path,
  .axis line {
    shape-rendering: crispEdges;
  }
}
