@import '../../../styles/common';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  font-size: 0.75rem;
}

button {
  color: $cl-white-80;
}

app-tile {
  flex: 1 1 0;
}

app-tile .tile-content-subjects {
  flex-direction: row;
  margin-bottom: 0;
}

app-subject-table {
  flex: 5 1 0;
  height: 100%;
}

app-subject-detail {
  flex: 1 1 15rem;
}

.chart {
  height: 100%;
}

.subject-table {
  float: left;
  overflow: hidden;
  width: 70%;
}

.subject-table-before {
  width: 100%;
}

.subject-detail {
  float: left;
  overflow-y: auto;
  width: 30%;
}
