<app-toolbar>
  <div start>
    <button
      [routerLink]="['/']"
      mat-icon-button
    >
      <i class="material-icons">arrow_back</i>
    </button>
    <div class="label">Study {{ studyId }}</div>
  </div>
</app-toolbar>
<div class="content">
  <div *ngIf="(isLoaded$ | async) === false; else loaded">
    <p>Loading...</p>
  </div>

  <ng-template #loaded>
    <div *ngIf="isStudyLoadedAndValid === false; else loadedAndValid">
      <p>Study "{{ studyId }}" not found.</p>
      <p>
        <button [routerLink]="['/']">Go to the overview page</button>
      </p>
    </div>
  </ng-template>

  <ng-template #loadedAndValid>
    <mat-grid-list
      cols="6"
      rowHeight="fit"
    >
      <mat-grid-tile
        colspan="6"
        rowspan="2"
      >
        <app-tile label="Patients">
          <div tile-content>
            <app-subject-table
              [subjects]="subjects$ | async"
              [studyId]="studyId"
            ></app-subject-table>
          </div>
        </app-tile>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        rowspan="2"
      >
        <app-tile label="Compliance">
          <div tile-content>
            <div class="legend">
              <p>
                <span class="simple"></span>
                Simple
                <span class="special"></span>
                Special
                <span class="notanswered"></span>
                Not Answered
              </p>
            </div>
            <div class="chart">
              <app-compliance-plot
                [data]="complianceData$ | async"
                [isLoaded]="isComplianceLoaded$ | async"
              ></app-compliance-plot>
            </div>
          </div>
        </app-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>

</div>
