<mat-table
  #table
  [dataSource]="dataSource"
  [trackBy]="trackById"
>
  <ng-container cdkColumnDef="subjectId">
    <mat-header-cell *cdkHeaderCellDef>ID</mat-header-cell>
    <mat-cell *cdkCellDef="let row" >
      <span class="ellipsis">{{ row.subjectId }}</span>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="humanReadableId">
      <mat-header-cell *cdkHeaderCellDef>Readable ID</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <span class="ellipsis">{{ row.humanReadableId }}</span>
      </mat-cell>
    </ng-container>

  <ng-container cdkColumnDef="status">
    <mat-header-cell *cdkHeaderCellDef>Status</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <span class="ellipsis">{{ row.status }}</span>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="sources">
    <mat-header-cell *cdkHeaderCellDef>Sources</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <span class="ellipsis">
        <span *ngFor="let source of row.sources">{{ source.sourceTypeProducer }}  </span>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="lastSeen">
      <mat-header-cell *cdkHeaderCellDef>Last seen</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <span class="ellipsis">{{ row.effectiveTimeFrame?.lastSeen | date: 'short' }}</span>
      </mat-cell>
    </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *cdkRowDef="let row; columns: displayedColumns;"
    (click)="openSubjectPage($event, row.subjectId)"
  ></mat-row>
</mat-table>

<mat-paginator
  #paginator
  [length]="subjectDB.data.length"
  [pageIndex]="0"
  [pageSize]="50"
></mat-paginator>
