@import '../../../../styles/common';
@import '../charts.common';

:host /deep/ {
  .line {
    fill: none;
    stroke: $cl-graph-3;
    stroke-width: 3px;
    stroke-linejoin: round;
  }

  .hr-gradient .line {
    stroke: url(#hr-gradient);
  }
}
