@import '../../../../styles/common';

:host {
  display: block;
  margin: auto;
  padding: 2rem;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgba(black, 0.35);
}

form > * {
  margin: 8px;
}
