@import '../../../../styles/common';

:host {
  display: block;
  margin: auto;
  padding: 2rem;
  max-width: 400px;
}

.logo {
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

form > * {
  margin: 8px;
}

button {
  width: 100%;
  border-radius: 3px;
  background-color: $cl-white-80;
  color: $cl-base-80;
  font-weight: bold;
}

button.signup {
  margin-left: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
}
