@import '../../../../styles/common';

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:host {
  display: block;
  margin: auto;
  padding: 2rem;
  max-width: 400px;
}

.logo {
  width: 80%;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

form > * {
  margin: 8px;
}

button {
  width: 100%;
  border-radius: 3px;
  background-color: $cl-white-80;
  color: $cl-base-80;
  font-weight: bold;
}
