@import '../../../styles/common';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loading,
.nodata {
  margin: 16px;
  border-radius: 2px;
  background-color: $cl-white-10;

  p {
    color: $cl-white-60;
  }
}

app-chart-base-line,
app-chart-base-multi-line {
  height: 280px;
}
