@import '../../../styles/common';
:host {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

:host /deep/ {
    .sensor .chart {
        background-color: $cl-base-10;
    }
    .sensor:first-child .chart {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .sensor:last-child .chart {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.sensors {
    margin-top: 8px;
    margin-bottom: 8px;
}

.source {
    position: relative;
}

.source-title {
    padding: 16px 16px 0;
    height: 48px;
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 56px;
    padding-bottom: 8px;
    width: 1px;
    height: 100%;
    pointer-events: none;
}

.line::after {
    display: block;
    width: 1px;
    height: 100%;
    background-color: $cl-white-20;
    content: '';
}

.axis {
    position: fixed;
    bottom: 0;
    margin-bottom: 24px;
    width: 71.5%;
    background-color: $cl-base-20;
}