@import '../../../styles/common';
@import '../charts.common';

:host /deep/ {
  .area {
    fill: $cl-base-80;
  }

  .axis--x line {
    stroke: $cl-white-20;
  }

  .axis--x path {
    stroke: none;
  }
}
