@import '../../../../../styles/common';

:host {
  @include font-small;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding: 40px;
  width: 300px;
  pointer-events: none;
}

.box {
  border-radius: 4px;
  background-color: $cl-base-60;
}

.box > .date {
  padding: 8px 25px;
  border-radius: 7px 7px 0 0;
  background-color: $cl-base-80;
  text-align: center;
}

.box > .data {
  padding: 5px 25px 10px;
  border-radius: 7px;
}

.item {
  overflow: hidden;
  padding-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label {
  line-height: 1em;
}

.value {
  color: white;
  font-weight: bold;
  line-height: 1em;
}
