@import '../../../styles/common';

:host {
  z-index: 1;
  display: flex;
  flex: 0 0 auto;
}

:host /deep/ md-toolbar {
  @include font-title;

  flex: 0 0 auto;
  background-color: $cl-light;
  box-shadow: 0 0 4px 0 rgba(black, 0.12), 0 2px 4px 0 rgba(black, 0.24);
  color: $cl-font;

  [start] {
    display: flex;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
  }

  .title > div {
    line-height: 1.2em;
  }

  .fill {
    flex: 1 1 auto;
  }
}

