@import '../../../styles/common';

:host {
  display: flex;
}

md-toolbar {
  @include font-title;

  z-index: 1;

  flex: 0 0 auto;

  color: $cl-font;
  background-color: $cl-light;
  box-shadow: 0 0 4px 0 rgba(black, .12), 0 2px 4px 0 rgba(black, .24);
}

.radar-logo {
  width: 48px;
  height: 48px;
  margin-right: 14px;
}

.toolbar-filler {
  flex: 1 1 auto;
}

.icon-button {
  padding: 0;

  cursor: pointer;
  user-select: none;

  color: $cl-font;
  border: none;
  background: none;
  box-shadow: none;
}
