<div class="details">
  <div>Sources of</div>
  <div class="title">{{ subject.humanReadableId }}</div>
  <div class="caption">{{ subject.subjectId }}</div>
  <div class="caption">{{ subject.status }}</div>
</div>

<ng-container *ngIf="subject.sources.length; else noSources">
  <div class="sources">
    <ng-container *ngFor="let source of subject.sources">
      <div class="source-name">{{ source.sourceName }}</div>
      <div class="source-status">
        <span class="source-status-icon {{source.status}}"></span>
        {{ source.status }}
      </div>
    </ng-container>
  </div>

  <div class="footer">
    <button mat-button (click)="navigateToSubjectHandler()">
      OPEN SUBJECT DATA
    </button>
  </div>
</ng-container>

<ng-template #noSources>
  <div class="footer empty">
    <div>No sources.</div>
  </div>
</ng-template>
