@import '../../../../styles/common';

:host {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding: 2rem;
}

.title {
  margin: 0.25rem 0 0.5rem;
  font-size: 1.5rem;
  line-height: 1.2;
}

.caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
}

.sources {
  display: grid;
  margin: 2rem 0;
  border-top: 1px solid $cl-base-60;
  font-size: 0.875rem;
  grid-template-columns: 1fr auto;

  /* autoprefixer: off */
  grid-auto-rows: 3rem;
}

.source-name,
.source-status {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-bottom: 1px solid $cl-base-60;
}

.source-status-icon {
  display: inline-block;
  margin: 0 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
}

.source-status-icon.OK,
.source-status-icon.CONNECTED {
  background-color: $cl-safe;
}

.source-status-icon.WARNING,
.source-status-icon.DISCONNECTED {
  background-color: $cl-warning;
}

.source-status-icon.UNKNOWN {
  background-color: $cl-white-40;
}

.footer {
  display: flex;
}

.footer.empty {
  margin-top: 2rem;
}

.mat-button {
  flex: 1 1 0;
}
