@import '../../../../styles/common';
@import '../charts.common';

:host /deep/ {
  height: 70px;

  .zoom {
    cursor: move;
    pointer-events: all;
    fill: none;
  }

  .brush {
    margin-top: 20px;
  }
}
