@import '../../../styles/common';

:host {
  display: flex;
  flex-grow: 1;
  padding: $tile-padding;
}

svg {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

// TODO: Check for fix in NG2 [https://github.com/angular/angular/issues/7108]
:host /deep/ {
  .bg {
    fill: slategrey;
  }
}
