@import '../../../../../styles/common';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: $size-graph-side-label;
}

:host /deep/ {
  .chart .axis text {
    fill: $cl-white-60;
  }
}

.background {
  position: absolute;
  top: 8px;
  right: 28px;
  bottom: 32px;
  left: $size-graph-side-label + 40px;
  z-index: 0;
  border-radius: 4px;
  background-color: $cl-base-40;
}

.chart {
  z-index: 1;
}
