@import '../../../styles/common';

:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  padding: 8px;
}

.item-title {
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  height: 24px;
  padding: 0 8px;

  background-color: $cl-base-light;
}

.item-content {
  flex: 1 0 auto;

  background-color: $cl-base-lighter;
}
