html
    head
        base(href="/")
        title Welcome | RADAR-CNS
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //1. Load libraries
        // IE required polyfills, in this exact order
        script(src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.3/es6-shim.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.6/system-polyfills.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.0/angular2-polyfills.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.6/system.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.0/Rx.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.0/angular2.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.0/router.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")

        // 2. Configure SystemJS
        script.
            System.config({
              transpiler: 'javascript', 
              typescriptOptions: { emitDecoratorMetadata: true }, 
              packages: {'app': {defaultExtension: 'js'}} 
            });
            System.import('app/boot')
                  .then(null, console.error.bind(console));
        // Google fonts quicksand and comfortaa //
        link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400|Comfortaa:400,300&subset=latin,latin-ext' 
              rel='stylesheet' 
              type='text/css')
        link(rel="stylesheet", href="css/main.css")
    // 3. Display the application
    body
        app 
            .loading Loading...
